footer {
  align-items: center;
  background-color: #23232e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  min-height: 8vh;
}

.social-networks {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.social-networks img {
  width: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 8vh;
  text-align: center;
}

@media (max-width: 1300px) {
  footer {
    padding: 10px 0;
  }

  .contact {
    margin-top: 5px;
  }
}