.bio-page {
  align-items: center;
  display: flex;
  height: 85vh;
}

.bio-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

.bio-section img {
  border: 10px solid #23232e;
  border-radius: 50px;
  max-width: 70%;
  width: 350px;
}

.bio-section article {
  background-color: #23232e;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 30px;
  width: 70%;
}

.bio-section article h1 {
  font-size: 200%;
}

.bio-section article h2 {
  margin-top: 20px;
}

.bio-section article p {
  margin: 10px 0 0 10px;
}

.bio-section article ul {
  margin: 10px 0 0 30px;
}

.bio-section article ul li {
  margin-bottom: 10px;
}

@media (max-width: 339px) {
  .bio-section article {
    font-size: 15px;
    letter-spacing: 2px;
  }
}

@media (max-width: 1300px) {
  .bio-page {
    height: 0%;
  }

  .bio-section {
    margin: 5vh auto;
  }

  .bio-section article {
    margin-top: 3vh;
  }
}
