.projects-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  letter-spacing: 3px;
  min-height: 84vh;
  width: 100vw;
}

.projects-container {
  background-color: #23232e;
  border-radius: 50px;
  padding: 10px 0 30px;
  text-align: center;
  width: 70%;
}

.projects-container h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.projects-container ul li {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  list-style: none;
  margin-top: -3px;
  padding: 10px 0;
}

.projects-container div {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.projects-container div h2 {
  width: 325px;
}

.projects-container div a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.projects-container div a:hover {
  opacity: 0.7;
}

@media (max-width: 400px) {
  .projects-container div h2 {
    font-size: 20px;
  }

  .projects-container div a {
    font-size: 20px;
  }
}

@media (max-width: 1300px) {
  .projects-container {
    margin: 5vh auto;
  }

  .projects-container div {
    flex-direction: column;
  }

  .projects-container div a {
    margin-top: 15px;
  }
}