.skills-page {
  align-items: center;
  display: flex;
  height: 85vh;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

.skills-section article {
  background-color: #23232e;
  border-radius: 50px;
  color: #fff;
  font-size: 25px;
  letter-spacing: 3px;
  max-width: 505px;
  padding: 30px;
  /* height: 300px; */
  width: 70%;
}

.skills-section article ul {
  margin-left: 40px;
}

.skills-section article ul li {
  margin-top: 20px;
}

@media (max-width: 339px) {
  .skills-section article {
    font-size: 20px;
  }
}

@media (max-width: 1129px) {
  .skills-page {
    height: 0%;
  }

  .skills-section {
    margin: 5vh auto;
  }

  .skills-section .skills-article-back {
    margin-top: 3vh;
  }
}