.skills-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  letter-spacing: 3px;
  min-height: 84vh;
}

.skills-container {
  background-color: #23232e;
  border-radius: 50px;
  font-size: 25px;
  max-width: 505px;
  padding: 30px;
  width: 70%;
}

.skills-container ul {
  margin-left: 40px;
}

.skills-container ul li {
  margin-top: 20px;
}

@media (max-width: 340px) {
  .skills-container {
    font-size: 20px;
  }
}

@media (max-width: 1130px) {
  .front-end-skills {
    margin-top: 5vh;
  }

  .back-end-skills {
    margin: 3vh 0 5vh;
  }
}
